<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BankManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientDetailServlet</display-name>
    <servlet-name>clientDetailServlet</servlet-name>
    <servlet-class>clientDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientDetailServlet</servlet-name>
    <url-pattern>/clientDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transferServlet</display-name>
    <servlet-name>transferServlet</servlet-name>
    <servlet-class>transferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferServlet</servlet-name>
    <url-pattern>/transferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawServlet</display-name>
    <servlet-name>withdrawServlet</servlet-name>
    <servlet-class>withdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawServlet</servlet-name>
    <url-pattern>/withdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transactionHistoryServlet</display-name>
    <servlet-name>transactionHistoryServlet</servlet-name>
    <servlet-class>transactionHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionHistoryServlet</servlet-name>
    <url-pattern>/transactionHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordServlet</display-name>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>changePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usersDetailServlet</display-name>
    <servlet-name>usersDetailServlet</servlet-name>
    <servlet-class>usersDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersDetailServlet</servlet-name>
    <url-pattern>/usersDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createAccountServlet</display-name>
    <servlet-name>createAccountServlet</servlet-name>
    <servlet-class>createAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccountServlet</servlet-name>
    <url-pattern>/createAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminTransactionHistoryServlet</display-name>
    <servlet-name>adminTransactionHistoryServlet</servlet-name>
    <servlet-class>adminTransactionHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTransactionHistoryServlet</servlet-name>
    <url-pattern>/adminTransactionHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editUserServlet</display-name>
    <servlet-name>editUserServlet</servlet-name>
    <servlet-class>editUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUserServlet</servlet-name>
    <url-pattern>/editUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailSearchServlet</display-name>
    <servlet-name>detailSearchServlet</servlet-name>
    <servlet-class>detailSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailSearchServlet</servlet-name>
    <url-pattern>/detailSearchServlet</url-pattern>
  </servlet-mapping>
  
</web-app>